body{
    text-align: center;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3f2722;
}

.infoBox{
    border: 10px solid #3f2722;
    background: url("images/holz.png");
    background-repeat:no-repeat;
    background-size: cover;
    width: 35%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.infoText{
    margin-top: 45px;
    color: #3f2722;
}

p {
    font-size: large;
    font-weight: 500;
}

button{
    width:150px;
    padding: 10px;
    border-color: grey;
    margin-top: 60px;
    background-color: #3f2722;
    color: white;

}
.commentBox{
    background: url("/images/holz.png");
    border: 7px solid #3f2722;;
    width: 250px;
    padding: 10px;
    float:right;
    margin-right: 30px;
    margin-top: 30px;
}

.info_comment{
    font-size: large;
    font-weight: 500;
}

.hotspot img{
    width: 50px;
}

#hotspot_container{
    z-index: 1;
    position: absolute;
}

.invisibleDisabled{
    display: none;
    pointer-events: none
}

.disabled{
    pointer-events: none
}

.infoIcon{
    width: 50px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;
    cursor: pointer;
}